@use 'bootstrap/scss/bootstrap.scss' as *;
@use 'bootstrap-icons/font/bootstrap-icons.scss' as *;

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.file-row {
  cursor: pointer;
}
.file-row:hover {
  background-color: #f5f5f5;
}
.directory {
  color: #0d6efd;
  font-weight: 500;
}

cdk-virtual-scroll-viewport {
  height: calc(100vh - 200px);
  display: block;
}
